<div class="game-display">
  <div class="hero-the-square-title-screen" *ngIf="view === 'title'">
    <!-- Generator: Gravit.io -->
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate" viewBox="0 0 370 169.069"
      width="370" height="169.069">
      <rect class="text" x="0" y="104" width="60" height="13" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="0" y="130" width="60" height="13" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="203" y="128.034" width="43" height="13" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="187" y="52" width="60" height="13" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="187" y="0" width="60" height="13" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="18" y="24.034" width="43" height="13" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="124" y="156.034" width="60" height="13" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="310" y="156.034" width="60" height="13" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="327" y="130.069" width="28" height="13" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="310" y="104.069" width="60" height="13" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="248" y="128.034" width="60" height="13" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="248" y="104.069" width="60" height="13" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="0" y="156" width="60" height="13" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="0" y="105" width="15" height="38" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="45" y="130.069" width="15" height="23.931" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)"
      />
      <rect class="text" x="62.034" y="104" width="60" height="13" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="102" y="156.034" width="20" height="13" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="65" y="156" width="20" height="13" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="62.034" y="104.069" width="15" height="65" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)"
      />
      <rect class="text" x="293" y="104.034" width="15" height="35" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="107.034" y="104.069" width="15" height="62.931" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)"
      />
      <rect class="text" x="278" y="143" width="15" height="26.069" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="84.034" y="131.271" width="15" height="37.729" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,141,0)"
      />
      <rect class="text" x="186" y="104.069" width="15" height="65" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="169" y="104.069" width="15" height="65" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="124" y="104.069" width="15" height="49.931" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)"
      />
      <rect class="text" x="232" y="15" width="15" height="50" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="187" y="0" width="15" height="64" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="1.034" y="0.034" width="15" height="65" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="46" y="0.034" width="15" height="65" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="231" y="104.069" width="15" height="65" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="310" y="104.069" width="15" height="65" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="63" y="52" width="60" height="13" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="80" y="26.034" width="28" height="13" transform="matrix(1,0,0,1,0,0)" fill="rgb(29,179,29)" />
      <rect class="text" x="63" y="0.069" width="60" height="13" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="63" y="0.034" width="15" height="65" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="248" y="104.034" width="15" height="65" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="125" y="24.034" width="60" height="13" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="125" y="0.069" width="60" height="13" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="170" y="0.034" width="15" height="35" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="155" y="39.034" width="15" height="26.034" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)"
      />
      <rect class="text" x="125" y="0.034" width="15" height="65" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="186" y="104.034" width="60" height="15" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="11.034" y="78" width="10" height="24" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="33.017" y="67.5" width="10" height="34.5" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="66.034" y="67" width="10" height="34.5" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="53" y="67.5" width="10" height="34.5" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" />
      <rect class="text" x="11.034" y="57" width="10" height="30" transform="matrix(0,-1,1,0,-55.966,88.034)" fill="rgb(255,255,255)"
      />
      <rect class="text" x="76.034" y="57" width="10" height="30" transform="matrix(0,-1,1,0,9.034,153.034)" fill="rgb(255,255,255)"
      />
      <rect class="green-stripe" x="218.517" y="-62.233" width="10" height="292.966" transform="matrix(0,-1,1,0,139.267,307.767)"
        fill="rgb(29,179,29)" />
      <rect class="text" x="76.034" y="81.5" width="10" height="30" transform="matrix(0,-1,1,0,-15.466,177.534)" fill="rgb(255,255,255)"
      />
      <rect class="text" x="47" y="74" width="10" height="16" transform="matrix(0,-1,1,0,-30,134)" fill="rgb(255,255,255)" />
    </svg>

    <button class="col menu-btn" #startBtn (click)="start()">
    start 
  </button>
  </div>

  <div class="game-view-port" [hidden]="view === 'title'">
    <button id="resetBtn" class="menu-btn reset-btn" (click)="onReset()">reset</button>
    <div class='game-timer'>TIME: {{getTime()}}</div>
    <div class='game-score-board'>BONUS TIME: {{engine? engine.bonus : 0}}s</div>
    <div class="message-interface">
      <div class="message-interface-content">
        <div id="message-interface-content-cursor">></div>
        <div class="message-interface-content-text"></div>
      </div>
    </div>
    <!-- HERO START-->
    <svg #hero class="hero" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
      viewBox="0 0 25 25" width="25" height="25">
      <rect x="0" y="0" width="25" height="25" transform="matrix(1,0,0,1,0,0)" fill="rgb(29,173,29)" stroke-width="1" stroke="rgb(255,255,255)"
      />
    </svg>
    <!-- HERO END -->

    <!-- NEMISIS START -->
    <svg class="nemisis nemisis-forward track-itm bounce-vertical wall" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      style="isolation:isolate" viewBox="0 0 100 100" width="100" height="100">
      <path d=" M 0 0 L 100 0 L 100 100 L 0 100 L 0 0 Z " fill="rgb(231,129,2)" vector-effect="non-scaling-stroke" stroke-width="1"
        stroke="rgb(255,255,255)" stroke-linejoin="miter" stroke-linecap="square" stroke-miterlimit="3" />
      <line x1="3" y1="29" x2="13" y2="29" vector-effect="non-scaling-stroke" stroke-width="2" stroke="rgb(0,0,0)" stroke-linejoin="miter"
        stroke-linecap="square" stroke-miterlimit="3" />
      <path d=" M 3 56 Q 30.894 58.93 37 69" fill="none" vector-effect="non-scaling-stroke" stroke-width="3" stroke="rgb(0,0,0)"
        stroke-linejoin="miter" stroke-linecap="square" stroke-miterlimit="3" />
    </svg>

    <svg class="nemisis nemisis-reverse track-itm bounce-vertical hidden wall" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      style="isolation:isolate" viewBox="0 0 100 100" width="100" height="100">
      <path d=" M 0 0 L 100 0 L 100 100 L 0 100 L 0 0 Z " fill="rgb(231,129,2)" vector-effect="non-scaling-stroke" stroke-width="1"
        stroke="rgb(255,255,255)" stroke-linejoin="miter" stroke-linecap="square" stroke-miterlimit="3" />
      <line x1="89" y1="29" x2="99" y2="29" vector-effect="non-scaling-stroke" stroke-width="2" stroke="rgb(0,0,0)" stroke-linejoin="miter"
        stroke-linecap="square" stroke-miterlimit="3" />
      <path d=" M 98 56 Q 70.106 58.93 64 69" fill="none" vector-effect="non-scaling-stroke" stroke-width="3" stroke="rgb(0,0,0)"
        stroke-linejoin="miter" stroke-linecap="square" stroke-miterlimit="3" />
    </svg>
    <!-- NEMISIS END -->

    <svg class="obstacle o-1 bounce-vertical track-itm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      style="isolation:isolate" viewBox="0 0 100 175" width="125" height="200">
      <rect class="wall g" x="0" y="0" width="50" height="175" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" stroke-width="1"
        stroke="rgb(255,255,255)" />
    </svg>


    <svg class="obstacle o-1 bounce-vertical track-itm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      style="isolation:isolate" viewBox="0 0 100 175" width="125" height="200">
      <rect class="wall g" x="0" y="0" width="50" height="175" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" stroke-width="1"
        stroke="rgb(255,255,255)" />
    </svg>


    <svg class="obstacle o-2 bounce-vertical track-itm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      style="isolation:isolate" viewBox="0 0 100 175" width="125" height="200">
      <rect class="wall g" x="0" y="0" width="50" height="175" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" stroke-width="1"
        stroke="rgb(255,255,255)" />
    </svg>

    <svg class="obstacle o-3 bounce-vertical track-itm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      style="isolation:isolate" viewBox="0 0 100 175" width="125" height="200">
      <rect class="wall g" x="0" y="0" width="50" height="175" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" stroke-width="1"
        stroke="rgb(255,255,255)" />
    </svg>

    <svg class="obstacle o-4 bounce-vertical track-itm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      style="isolation:isolate" viewBox="0 0 100 175" width="125" height="200">
      <rect class="wall g" x="0" y="0" width="50" height="175" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" stroke-width="1"
        stroke="rgb(255,255,255)" />
    </svg>

    <!-- START TRACK BRICKS -->

    <!-- BRICK 0 START -->
    <svg class="track-itm b0c0 brick-chip" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
      viewBox="0 0 25 25" width="25" height="25">
      <rect class="g" x="0" y="0" width="25" height="25" transform="matrix(1,0,0,1,0,0)" fill="rgb(29,173,29)" stroke-width="1"
        stroke="rgb(255,255,255)" />
    </svg>

    <svg class="track-itm b0c1 brick-chip" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
      viewBox="0 0 25 25" width="25" height="25">
      <rect class="g" x="0" y="0" width="25" height="25" transform="matrix(1,0,0,1,0,0)" fill="rgb(29,173,29)" stroke-width="1"
        stroke="rgb(255,255,255)" />
    </svg>

    <svg class="track-itm b0c2 brick-chip" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
      viewBox="0 0 25 25" width="25" height="25">
      <rect class="g" x="0" y="0" width="25" height="25" transform="matrix(1,0,0,1,0,0)" fill="rgb(29,173,29)" stroke-width="1"
        stroke="rgb(255,255,255)" />
    </svg>

    <svg class="track-itm b0c3 brick-chip" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
      viewBox="0 0 25 25" width="25" height="25">
      <rect class="g" x="0" y="0" width="25" height="25" transform="matrix(1,0,0,1,0,0)" fill="rgb(29,173,29)" stroke-width="1"
        stroke="rgb(255,255,255)" />
    </svg>

    <svg class="track-itm brick b0 bonus-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
      viewBox="0 0 100 25" width="100" height="25">
      <rect class="wall score-up g" x="0" y="0" width="100" height="25" transform="matrix(1,0,0,1,0,0)" fill="rgb(29,179,29)" stroke-width="1"
        stroke="rgb(255,255,255)" />
    </svg>
    <!-- BRICK 0 END  -->

    <!-- BRICK 1 START -->
    <svg class="track-itm b1c0 brick-chip" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
      viewBox="0 0 25 25" width="25" height="25">
      <rect class="g" x="0" y="0" width="25" height="25" transform="matrix(1,0,0,1,0,0)" fill="rgb(29,173,29)" stroke-width="1"
        stroke="rgb(255,255,255)" />
    </svg>

    <svg class="track-itm b1c1 brick-chip" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
      viewBox="0 0 25 25" width="25" height="25">
      <rect class="g" x="0" y="0" width="25" height="25" transform="matrix(1,0,0,1,0,0)" fill="rgb(29,173,29)" stroke-width="1"
        stroke="rgb(255,255,255)" />
    </svg>

    <svg class="track-itm b1c2 brick-chip" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
      viewBox="0 0 25 25" width="25" height="25">
      <rect class="g" x="0" y="0" width="25" height="25" transform="matrix(1,0,0,1,0,0)" fill="rgb(29,173,29)" stroke-width="1"
        stroke="rgb(255,255,255)" />
    </svg>

    <svg class="track-itm b1c3 brick-chip" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
      viewBox="0 0 25 25" width="25" height="25">
      <rect x="0" y="0" width="25" height="25" transform="matrix(1,0,0,1,0,0)" fill="rgb(29,173,29)" stroke-width="1" stroke="rgb(255,255,255)"
      />
    </svg>

    <svg class="track-itm brick b1 bonus-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
      viewBox="0 0 100 25" width="100" height="25">
      <rect class="wall score-up g" x="0" y="0" width="100" height="25" transform="matrix(1,0,0,1,0,0)" fill="rgb(29,179,29)" stroke-width="1"
        stroke="rgb(255,255,255)" />
    </svg>
    <!-- BRICK 1 END -->

    <!-- BRICK 2 START -->
    <svg class="track-itm b2c0 brick-chip" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
      viewBox="0 0 25 25" width="25" height="25">
      <rect x="0" y="0" width="25" height="25" transform="matrix(1,0,0,1,0,0)" fill="rgb(29,173,29)" stroke-width="1" stroke="rgb(255,255,255)"
      />
    </svg>

    <svg class="track-itm b2c1 brick-chip" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
      viewBox="0 0 25 25" width="25" height="25">
      <rect x="0" y="0" width="25" height="25" transform="matrix(1,0,0,1,0,0)" fill="rgb(29,173,29)" stroke-width="1" stroke="rgb(255,255,255)"
      />
    </svg>

    <svg class="track-itm b2c2 brick-chip" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
      viewBox="0 0 25 25" width="25" height="25">
      <rect x="0" y="0" width="25" height="25" transform="matrix(1,0,0,1,0,0)" fill="rgb(29,173,29)" stroke-width="1" stroke="rgb(255,255,255)"
      />
    </svg>

    <svg class="track-itm b2c3 brick-chip" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
      viewBox="0 0 25 25" width="25" height="25">
      <rect x="0" y="0" width="25" height="25" transform="matrix(1,0,0,1,0,0)" fill="rgb(29,173,29)" stroke-width="1" stroke="rgb(255,255,255)"
      />
    </svg>

    <svg class="track-itm brick b2 bonus-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
      viewBox="0 0 100 25" width="100" height="25">
      <rect class="wall score-up g" x="0" y="0" width="100" height="25" transform="matrix(1,0,0,1,0,0)" fill="rgb(29,179,29)" stroke-width="1"
        stroke="rgb(255,255,255)" />
    </svg>

    <!-- BRICK 2 END -->

    <!-- BRICK 3 START -->
    <svg class="track-itm b3c0 brick-chip" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
      viewBox="0 0 25 25" width="25" height="25">
      <rect x="0" y="0" width="25" height="25" transform="matrix(1,0,0,1,0,0)" fill="rgb(29,173,29)" stroke-width="1" stroke="rgb(255,255,255)"
      />
    </svg>

    <svg class="track-itm b3c1 brick-chip" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
      viewBox="0 0 25 25" width="25" height="25">
      <rect x="0" y="0" width="25" height="25" transform="matrix(1,0,0,1,0,0)" fill="rgb(29,173,29)" stroke-width="1" stroke="rgb(255,255,255)"
      />
    </svg>

    <svg class="track-itm b3c2 brick-chip" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
      viewBox="0 0 25 25" width="25" height="25">
      <rect x="0" y="0" width="25" height="25" transform="matrix(1,0,0,1,0,0)" fill="rgb(29,173,29)" stroke-width="1" stroke="rgb(255,255,255)"
      />
    </svg>

    <svg class="track-itm b3c3 brick-chip" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
      viewBox="0 0 25 25" width="25" height="25">
      <rect x="0" y="0" width="25" height="25" transform="matrix(1,0,0,1,0,0)" fill="rgb(29,173,29)" stroke-width="1" stroke="rgb(255,255,255)"
      />
    </svg>

    <svg class="track-itm brick b3 bonus-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
      viewBox="0 0 100 25" width="100" height="25">
      <rect class="wall score-up g" x="0" y="0" width="100" height="25" transform="matrix(1,0,0,1,0,0)" fill="rgb(29,179,29)" stroke-width="1"
        stroke="rgb(255,255,255)" />
    </svg>
    <!-- BRICK 3 END -->

    <!-- BRICK 4 START-->
    <svg class="track-itm b4c0 brick-chip" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
      viewBox="0 0 25 25" width="25" height="25">
      <rect x="0" y="0" width="25" height="25" transform="matrix(1,0,0,1,0,0)" fill="rgb(29,173,29)" stroke-width="1" stroke="rgb(255,255,255)"
      />
    </svg>

    <svg class="track-itm b4c1 brick-chip" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
      viewBox="0 0 25 25" width="25" height="25">
      <rect x="0" y="0" width="25" height="25" transform="matrix(1,0,0,1,0,0)" fill="rgb(29,173,29)" stroke-width="1" stroke="rgb(255,255,255)"
      />
    </svg>

    <svg class="track-itm b4c2 brick-chip" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
      viewBox="0 0 25 25" width="25" height="25">
      <rect x="0" y="0" width="25" height="25" transform="matrix(1,0,0,1,0,0)" fill="rgb(29,173,29)" stroke-width="1" stroke="rgb(255,255,255)"
      />
    </svg>

    <svg class="track-itm b4c3 brick-chip" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
      viewBox="0 0 25 25" width="25" height="25">
      <rect x="0" y="0" width="25" height="25" transform="matrix(1,0,0,1,0,0)" fill="rgb(29,173,29)" stroke-width="1" stroke="rgb(255,255,255)"
      />
    </svg>

    <svg class="track-itm brick b4 bonus-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
      viewBox="0 0 100 25" width="100" height="25">
      <rect class="wall score-up g" x="0" y="0" width="100" height="25" transform="matrix(1,0,0,1,0,0)" fill="rgb(29,179,29)" stroke-width="1"
        stroke="rgb(255,255,255)" />
    </svg>
    <!-- BRICK 4 END-->

    <!-- BRICK 5 START-->
    <svg class="track-itm b5c0 brick-chip" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
      viewBox="0 0 25 25" width="25" height="25">
      <rect x="0" y="0" width="25" height="25" transform="matrix(1,0,0,1,0,0)" fill="rgb(29,173,29)" stroke-width="1" stroke="rgb(255,255,255)"
      />
    </svg>

    <svg class="track-itm b5c1 brick-chip" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
      viewBox="0 0 25 25" width="25" height="25">
      <rect x="0" y="0" width="25" height="25" transform="matrix(1,0,0,1,0,0)" fill="rgb(29,173,29)" stroke-width="1" stroke="rgb(255,255,255)"
      />
    </svg>

    <svg class="track-itm b5c2 brick-chip" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
      viewBox="0 0 25 25" width="25" height="25">
      <rect x="0" y="0" width="25" height="25" transform="matrix(1,0,0,1,0,0)" fill="rgb(29,173,29)" stroke-width="1" stroke="rgb(255,255,255)"
      />
    </svg>

    <svg class="track-itm b5c3 brick-chip" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
      viewBox="0 0 25 25" width="25" height="25">
      <rect x="0" y="0" width="25" height="25" transform="matrix(1,0,0,1,0,0)" fill="rgb(29,173,29)" stroke-width="1" stroke="rgb(255,255,255)"
      />
    </svg>

    <svg class="track-itm brick b5 bonus-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
      viewBox="0 0 100 25" width="100" height="25">
      <rect class="wall score-up g" x="0" y="0" width="100" height="25" transform="matrix(1,0,0,1,0,0)" fill="rgb(29,179,29)" stroke-width="1"
        stroke="rgb(255,255,255)" />
    </svg>
    <!-- BRICK 4 END-->

    <!-- END TRACK BRICKS -->

    <!-- TRACK START -->
    <svg class="track" id="track" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
      viewBox="-0.499 0 4200 400" width="4002" height="400">
      <line class="wall g" x1="2750" y1="50" x2="4001" y2="50" vector-effect="non-scaling-stroke" stroke-width="1" stroke="rgb(255,255,255)"
      stroke-linejoin="miter" stroke-linecap="square" stroke-miterlimit="3" />
      <line class="wall g" x1="1284" y1="50" x2="2001" y2="50" vector-effect="non-scaling-stroke" stroke-width="1" stroke="rgb(255,255,255)"
        stroke-linejoin="miter" stroke-linecap="square" stroke-miterlimit="3" />
      <line class="wall g" x1="404" y1="360" x2="4000" y2="360" vector-effect="non-scaling-stroke" stroke-width="1" stroke="rgb(255,255,255)"
        stroke-linejoin="miter" stroke-linecap="square" stroke-miterlimit="3" />
      <rect class="wall g" x="150" y="120" width="100" height="25" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" vector-effect="non-scaling-stroke"
        stroke-width="1" stroke="rgb(255,255,255)" stroke-linejoin="miter" stroke-linecap="square" stroke-miterlimit="3" />
      <rect class="wall g" x="150" y="260" width="100" height="25" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" vector-effect="non-scaling-stroke"
        stroke-width="1" stroke="rgb(255,255,255)" stroke-linejoin="miter" stroke-linecap="square" stroke-miterlimit="3" />
      <line class="wall g" x1="0" y1="50" x2="127.5" y2="50" vector-effect="non-scaling-stroke" stroke-width="1" stroke="rgb(255,255,255)"
        stroke-linejoin="miter" stroke-linecap="square" stroke-miterlimit="3" />
      <line class="wall g" x1="0" y1="360" x2="125" y2="360" vector-effect="non-scaling-stroke" stroke-width="1" stroke="rgb(255,255,255)"
        stroke-linejoin="miter" stroke-linecap="square" stroke-miterlimit="3" />
      <rect class="wall g" x="354" y="50" width="50" height="150" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" vector-effect="non-scaling-stroke"
        stroke-width="1" stroke="rgb(255,255,255)" stroke-linejoin="miter" stroke-linecap="square" stroke-miterlimit="3" />
      <rect class="wall g" x="454" y="50" width="50" height="150" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" vector-effect="non-scaling-stroke"
        stroke-width="1" stroke="rgb(255,255,255)" stroke-linejoin="miter" stroke-linecap="square" stroke-miterlimit="3" />
      <rect class="wall g" x="554" y="240" width="90" height="70" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)" vector-effect="non-scaling-stroke"
        stroke-width="1" stroke="rgb(255,255,255)" stroke-linejoin="miter" stroke-linecap="square" stroke-miterlimit="3" />
      <line class="wall g" x1="225" y1="360" x2="354" y2="360" vector-effect="non-scaling-stroke" stroke-width="1" stroke="rgb(255,255,255)"
        stroke-linejoin="miter" stroke-linecap="square" stroke-miterlimit="3" />
      <rect http://www.wix.com/website-template/view/html/1791?utm_source=freewebsitetemplates&utm_medium=template_banner&utm_term=business&utm_content=ma_html_fwt_temp_1_3_jamesconsulting&utm_campaign=ma_fwt&experiment_id=cpa_fwt_temp_1_3_jamesconsulting1791x="1184"
        y="88.5" width="100" height="25" transform="matrix(1,0,0,1,0,0)" fill="rgb(29,179,29)" />
      <rect class="wall power-up g" x="1184" y="175" width="100" height="125" transform="matrix(1,0,0,1,0,0)" fill="rgb(255,255,255)"
        vector-effect="non-scaling-stroke" stroke-width="0.966" stroke="rgb(255,255,255)" stroke-linejoin="miter" stroke-linecap="square"
        stroke-miterlimit="3" />
      <line class="wall g" x1="225" y1="50" x2="354" y2="50" vector-effect="non-scaling-stroke" stroke-width="1" stroke="rgb(255,255,255)"
        stroke-linejoin="miter" stroke-linecap="square" stroke-miterlimit="3" />
      <line class="wall g" x1="1166" y1="50" x2="400" y2="50" vector-effect="non-scaling-stroke" stroke-width="1" stroke="rgb(255,255,255)"
        stroke-linejoin="miter" stroke-linecap="square" stroke-miterlimit="3" />
    </svg>
    <!-- TRACK END -->

    <!-- FINISH LINE -->
    <svg class="finish-line track-itm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate"
      viewBox="0 0 75 300" width="75" height="300">
      <rect class="wall" x="0" y="0" width="75" height="300" transform="matrix(1,0,0,1,0,0)" fill="none" vector-effect="non-scaling-stroke"
        stroke-width="3" stroke="rgb(231,129,2)" stroke-linejoin="miter" stroke-linecap="square" stroke-miterlimit="3" />
    </svg>
  </div>
</div>