$full-screen:  "only screen and (min-width: 1112px)";
$medium-screen: "only screen and (min-width: 961px) and (max-width: 1111px)";
$tablet-screen: "only screen and (min-width: 641px) and (max-width: 960px)";
$mobile-screen: "only screen and (max-width: 640px)";